@import url(http://fonts.googleapis.com/css?family=Open+Sans);

body{
  margin: 0px;
  padding: 0px;
  text-align: justify;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 21px;
}
.login-form{
  text-align: center;
}
.login-form label{
  font-size: 13px;
}
